<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
    <link href="/stylesheets/style-new-product-and-edit-product.css" rel="stylesheet">
    
</head>

<body>
    <%- include('../partials/header') %>

    <form action="/product/<%=products.id%>/delete?_method=DELETE" method="POST">

        <h2>Estas seguro que queres eliminar el prodcto: <%= products.name %>  ?</h2>
        <label for="yes">Sí </label>
        <input type="radio" name="delete" id="yes" value="yes"><br>
        <label for="no">No </label>
        <input type="radio" name="delete" id="no" value="no"><br><br>
        
        <input type="submit" value="CONFIRMAR">

    </form>

    <%- include('../partials/footer') %>
</body>
<script type="text/javascript">

    showAlert = function (err= 'gato') {
        alert('error: ' + err);
    }
</script>
</html>