<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head') %>
        <link href="/stylesheets/style-productDetail.css" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class="row">
                <section class="image">
                    <article>
                        <img class="image-withd" src="/images/products-images/<%=producto.image_name %>" alt="Producto seleccionado">
                    </artcile>
                </section>
                <section>
                    <h2 class="h2"><%= producto.name %></h2>
                    <p class="description"><%= producto.description %></p>
                    <p class="price">AR$ <%= producto.price %></p>
                    <p>Especificaciones:</p>
                        <form action="#">
                            <select class="form-control" name="category">
                                <option class="option" value="none" selected>Ninguna</option>
                                <option class="option" value="sin-tacc">Sin TACC</option>
                            </select>
                            <p>
                                <label>Cantidad: </label>
                                <input class="form-control" type="text" id="name" name="name" placeholder="1" required>
                            </p>
                            <input class="btn-success" type="submit" value="Agregar al carrito">
                        </form>
                        <% if(admin) { %>
                            <form class="edit-delete" action="/product/<%=producto.id%>/delete?_method=DELETE" method="POST" enctype="multipart/form-data">
                                <div class="btn-edit-delet">
                                    <a href="/product/<%=producto.id%>/edit">
                                        <input class="btn-edit" type="button" value="Editar Producto">
                                    </a>
                                </div>
                                <input class="btn-delete" type="submit" value="Eliminar Producto">
                            </form>
                        <% } %>
                    </div>
                </section>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>