<!DOCTYPE html>
<html lang="es">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <%- include('../partials/head') %>
        <link href="/stylesheets/style-productDetail.css" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/header') %>
        <main>
            <div class="row">
                <div class="col-sm-5">
                    <article class="product">
                        <img class= "img-responsive" src="/images/products-images/<%=producto.image_name %>" alt="Producto seleccionado">
                    </artcile>
                </div>
                <div class="col-xs-7" style="border:0px solid gray">
                    <h2><%= producto.name %></h2>
                    <p><%= producto.description %></p>
                    <h3 style="margin-top:0px">AR$ <%= producto.price %></h3>
                    <div class="section">
                        <h6 class="title-attr" style="margin-top:15px;"><small>Especificaciones: </small></h6>
                        <form action="#">
                            <select name="category">
                                <option class="option" value="none" selected>Ninguna</option>
                                <option class="option" value="sin-tacc">Sin TACC</option>
                            </select>
                            <div class="section" style="padding-bottom:20px;">
                                <h6 class="title-attr"><small>CANTIDAD</small></h6>
                                <div>
                                    <div class="btn-minus">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </div>
                                    <input value="1" />
                                    <div class="btn-plus">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-success" type="submit" value="Agregar al carrito">
                        </form>
                        <% if(admin) { %>
                            <form action="/product/<%=producto.id%>/delete?_method=DELETE" method="POST" enctype="multipart/form-data">
                                <div class="btn-edit-delet">
                                    <a href="/product/<%=producto.id%>/edit">
                                        <input class="btn-edit" type="button" value="Editar Producto">
                                    </a>
                                </div>
                                <input class="btn-delete" type="submit" value="Eliminar Producto">
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>