<article class="item">     
    <a href="/product/<%=products.id%>/detail">        
    <img src="/images/<%=products.image %>" alt="<%= products.name %>" >
    <div class="description-item">
        <i class="fas fa-truck"></i>
        <p class="price">$<%=products.price %></p>
        <h4 class="description"><%=products.name %></h4>
    </div>
    </a>
</article>