<article class="item">
    <a class="ancla" href="/product/<%=products.id%>/detail">
        <img class="image-product" src="/images/products-images/<%=products.image %>" alt="<%= products.name %>" width="100%">
    </a>
    <div class="description-item" style="width: 100%;">
        <a class="ancla" href="/product/<%=products.id%>/detail">
            <h4 class="description"><%=products.name %></h4>
        </a>
        <div class="info">
            <p class="price">$<%=products.price %></p>
            <p class="category">Categoría: <%=products.category %></p>
        </div>
    </div>
</article>